
<div *ngIf="ticket">
    <h2><span jhiTranslate="wplayMisteriosoApp.ticket.detail.title">Ticket</span> {{ticket.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="wplayMisteriosoApp.ticket.id_fuente">Id Fuente</span></dt>
        <dd>
            <span>{{ticket.id_fuente}}</span>
        </dd>
        <dt><span jhiTranslate="wplayMisteriosoApp.ticket.cantidad_apuestas">Cantidad Apuestas</span></dt>
        <dd>
            <span>{{ticket.cantidad_apuestas}}</span>
        </dd>
        <dt><span jhiTranslate="wplayMisteriosoApp.ticket.valor_total">Valor Total</span></dt>
        <dd>
            <span>{{ticket.valor_total}}</span>
        </dd>
        <dt><span jhiTranslate="wplayMisteriosoApp.ticket.fecha">Fecha</span></dt>
        <dd>
            <span>{{ticket.fecha | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="wplayMisteriosoApp.ticket.participa_misterioso">Participa Misterioso</span></dt>
        <dd>
            <span>{{ticket.participa_misterioso}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ticket/'+ ticket.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
