<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMisteriosoLabel" jhiTranslate="wplayMisteriosoApp.misterioso.home.createOrEditLabel">Create or edit a Misterioso</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!misterioso.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="misterioso.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wplayMisteriosoApp.misterioso.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="misterioso.nombre" required />
            <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wplayMisteriosoApp.misterioso.acumulado" for="field_acumulado">Acumulado</label>
            <input type="number" class="form-control" name="acumulado" id="field_acumulado"
                [(ngModel)]="misterioso.acumulado" min="0" max="100000000" disabled/>
            <div [hidden]="!(editForm.controls.acumulado?.dirty && editForm.controls.acumulado?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.acumulado?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.acumulado?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 100000000 }">
                    This field cannot be more than 100000000.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.acumulado?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wplayMisteriosoApp.misterioso.cantidad_apuestas" for="field_cantidad_apuestas">Cantidad Apuestas</label>
            <input type="number" class="form-control" name="cantidad_apuestas" id="field_cantidad_apuestas"
                [(ngModel)]="misterioso.cantidad_apuestas" required min="0" disabled/>
            <div [hidden]="!(editForm.controls.cantidad_apuestas?.dirty && editForm.controls.cantidad_apuestas?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cantidad_apuestas?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantidad_apuestas?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantidad_apuestas?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wplayMisteriosoApp.misterioso.porcentaje_ticket" for="field_porcentaje_ticket">Porcentaje Ticket</label>
            <input type="number" class="form-control" name="porcentaje_ticket" id="field_porcentaje_ticket"
                [(ngModel)]="misterioso.porcentaje_ticket" min="0" max="2.2" step="0.01" required />
            <div [hidden]="!(editForm.controls.porcentaje_ticket?.dirty && editForm.controls.porcentaje_ticket?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.porcentaje_ticket?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.porcentaje_ticket?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.porcentaje_ticket?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.porcentaje_ticket?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2.2 }">
                    This field should be at least 0.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wplayMisteriosoApp.misterioso.valor_base_min" for="field_valor_base_min">Valor Base Min</label>
            <input type="number" class="form-control" name="valor_base_min" id="field_valor_base_min"
                [(ngModel)]="misterioso.valor_base_min" required />
            <div [hidden]="!(editForm.controls.valor_base_min?.dirty && editForm.controls.valor_base_min?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.valor_base_min?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.valor_base_min?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wplayMisteriosoApp.misterioso.valor_base_max" for="field_valor_base_max">Valor Base Max</label>
            <input type="number" class="form-control" name="valor_base_max" id="field_valor_base_max"
                [(ngModel)]="misterioso.valor_base_max" required max="100000000" />
            <div [hidden]="!(editForm.controls.valor_base_max?.dirty && editForm.controls.valor_base_max?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.valor_base_max?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.valor_base_max?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 100000000 }">
                    This field cannot be more than 100000000.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.valor_base_max?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>

            </div>
            <small class="form-text text-danger"
                   [hidden]="misterioso.valor_base_max > misterioso.valor_base_min" >
                El valor base maximo no puede ser igual o menor que el valor base minimo.
            </small>

        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wplayMisteriosoApp.misterioso.minimo_ticket" for="field_minimo_ticket">Minimo Ticket</label>
            <input type="number" class="form-control" name="minimo_ticket" id="field_minimo_ticket"
                [(ngModel)]="misterioso.minimo_ticket" required />
            <div [hidden]="!(editForm.controls.minimo_ticket?.dirty && editForm.controls.minimo_ticket?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.minimo_ticket?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.minimo_ticket?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wplayMisteriosoApp.misterioso.maximo_ticket" for="field_maximo_ticket">Maximo Ticket</label>
            <input type="number" class="form-control" name="maximo_ticket" id="field_maximo_ticket"
                [(ngModel)]="misterioso.maximo_ticket" required />
            <div [hidden]="!(editForm.controls.maximo_ticket?.dirty && editForm.controls.maximo_ticket?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.maximo_ticket?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.maximo_ticket?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>



            </div>
            <small class="form-text text-danger"
                   [hidden]="misterioso.maximo_ticket > misterioso.minimo_ticket" >
                El maximo ticket no puede ser igual o menor que el minimo
            </small>

        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wplayMisteriosoApp.misterioso.ganador" for="field_ganador">Ganador</label>
            <input type="text" class="form-control" name="ganador" id="field_ganador"
                [(ngModel)]="misterioso.ganador"  disabled/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wplayMisteriosoApp.misterioso.estado" for="field_estado">Estado</label>
            <select class="form-control" name="estado" [(ngModel)]="misterioso.estado" id="field_estado"  required>
                <option value="ACTIVO">{{'wplayMisteriosoApp.EstadoMisterioso.ACTIVO' | translate}}</option>
                <option value="INACTIVO">{{'wplayMisteriosoApp.EstadoMisterioso.INACTIVO' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.estado?.dirty && editForm.controls.estado?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estado?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wplayMisteriosoApp.misterioso.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                [(ngModel)]="misterioso.descripcion" maxlength="1024" />
            <div [hidden]="!(editForm.controls.descripcion?.dirty && editForm.controls.descripcion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.descripcion?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wplayMisteriosoApp.misterioso.cantidad_apuestas_minima" for="field_cantidad_apuestas_minima">Cantidad Apuestas Minima</label>
            <input type="number" class="form-control" name="cantidad_apuestas_minima" id="field_cantidad_apuestas_minima"
                [(ngModel)]="misterioso.cantidad_apuestas_minima" required />
            <div [hidden]="!(editForm.controls.cantidad_apuestas_minima?.dirty && editForm.controls.cantidad_apuestas_minima?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cantidad_apuestas_minima?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantidad_apuestas_minima?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wplayMisteriosoApp.misterioso.cantidad_apuestas_maxima" for="field_cantidad_apuestas_maxima">Cantidad Apuestas Maxima</label>
            <input type="number" class="form-control" name="cantidad_apuestas_maxima" id="field_cantidad_apuestas_maxima"
                [(ngModel)]="misterioso.cantidad_apuestas_maxima" required />
            <div [hidden]="!(editForm.controls.cantidad_apuestas_maxima?.dirty && editForm.controls.cantidad_apuestas_maxima?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cantidad_apuestas_maxima?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cantidad_apuestas_maxima?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
            <small class="form-text text-danger"
                   [hidden]="misterioso.cantidad_apuestas_maxima > misterioso.cantidad_apuestas_minima" >
                La maxima cantidad de apuestas  no puede ser igual o menor que la minima cantidad apuestas.
            </small>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
